<section class="sign-in">
  <mat-card>
    <mat-card-content>
      <div *ngIf="userLoading | async" class="spinner">
        <mat-progress-spinner
          class="example-margin"
          [color]="'primary'"
          [mode]="'indeterminate'"
          [value]="50">
        </mat-progress-spinner>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" [class.opacity]="userLoading | async">
        <h2>Log In</h2>
        <mat-error *ngIf="signInError | async">
          The username and password were not recognised
        </mat-error>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="Email" formControlName="username" required>
          <mat-error>
            Please provide a valid email address
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
          <mat-error>
            Password should be from 6 to 100 symbols
          </mat-error>
        </mat-form-field>
        <button [disabled]="userLoading | async" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
